<h1>Now Playing: <%=@game.name%></h1>
<div class = "whiteCard">
  <p id = "currentwhiteCard"></p>
</div>

<div class = "playedCards">
</div>

<div class = "playersCards">
</div>


<script>


</script>
